table{
    margin-left: 350px;
    margin-top: 50px;
    font-family: serif;
}
img{
    height: 156px;
    width: 91px;
}
h1{
    font-size: 35px;
    font-weight: 100;
    color: #232d60;
    margin-left: 20px;
}
